<!-- begin aside -->
<aside>

    <!-- Sidebar Widgets Area -->
    <div id="recent-posts" class="widget_sidebar">
        <h3 class="widget-title">Recent Posts</h3>
        <ul>
            <li><a href="http://demo.s5themes.com/moments/2014/01/27/vimeo-example/">Vimeo Example</a></li>
        </ul>
    </div>

    <div id="archives" class="widget_sidebar widget_archive">
        <h3 class="widget-title">Archives</h3>
        <ul>
            <li><a href="http://demo.s5themes.com/moments/2014/01/">January 2014</a></li>
        </ul>
    </div>
    <div id="categories-2" class="widget_sidebar widget_categories">
        <h3 class="widget-title">Categories</h3>
        <ul>
            <li class="cat-item cat-item-2"><a href="http://demo.s5themes.com/moments/category/thoughts/" title="this is thoughts category and this is category decription...">Thoughts</a></li>
        </ul>
    </div>
    <!-- END Sidebar Widgets Area -->

</aside>
<!-- end aside -->