<!-- Default home page -->

<div class="main_content">

    <!-- section content -->
    <section class="content">

        <% _.each(posts, function (post) { %>
            <%- partial('partials/'+post.type, {post: post}) %>
        <% }) %>

        <!-- begin #pagination -->
        <div class="emm-paginate">
            <span class="emm-title">Pages:</span>
            <span class="emm-page emm-current">1</span>
            <a href="http://demo.s5themes.com/moments/page/2/" class="emm-page">2</a>
            <a href="http://demo.s5themes.com/moments/page/3/" class="emm-page">3</a>
            <a href="http://demo.s5themes.com/moments/page/4/" class="emm-page">4</a>
            <a href="http://demo.s5themes.com/moments/page/2/" class="emm-next">›</a>
        </div>
        <!-- end #pagination -->

    </section>
    <!-- section content -->

    <%- partial('partials/sidebar')%>

</div>
<!-- .main_content-->
